# requirements.txt

streamlit
torch
simpletransformers
langchain
langchain-community
langchain-google-genai
sentence-transformers
faiss-cpu
python-docx
pdfplumber

# --- Ghim các phiên bản để đảm bảo tương thích ---
datasets==2.14.5
pyarrow==14.0.1
