# requirements.txt
streamlit
torch
transformers  # Use the main library instead of simpletransformers
sentencepiece # Required for the T5 tokenizer
langchain
langchain-community
langchain-google-genai
sentence-transformers
faiss-cpu
python-docx
pdfplumber
datasets==2.14.5
pyarrow==14.0.1
